* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    max-height: 10vh;
    transition: all .25s linear;
    z-index: 10000 !important;
    padding: 0 1vw;


    &:hover{
        background-color: rgba(2, 2, 20, 0.75);
    }

    &:hover h1{
        color: rgba(255, 255, 255, 0.75);
    }

    // Logo
    h1{
        font-size: 2em;
        transition: all 2s;
    }

    ul {
        width: 33%;
        display: flex;
        justify-content: space-around;

        li {
            list-style: none;

            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: 1.25em;
                font-weight: 100;
            }
        }
    }
}


header {
    transform: translateY(-10vh);
    height: 100vh;
    position: relative;
    background: url("../Images/NewYorkNight.jpg");
    z-index: -2;

      h1 {
        font-size: 7.5em;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 50%;
        background-position: center center;
        background-size: contain;
        -webkit-background-clip: text;
        color: transparent;
        filter: hue-rotate(100deg) drop-shadow(1px 2px 3px whitesmoke);
        transition: all 5s linear;
    }

    .video_container {
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .25s linear;
        z-index: -1;

        video {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.active_video {
    filter: grayscale(100%) !important;
}

.changeHueRotate {
    filter: hue-rotate(140deg);
}